
.color0{
    background-color: #FFF;
}

.color1{
    background-color: #ed9fae;
}

.color2{
    background-color: #000;
}

.color3{
    background-color: #ff0000ff;
}

.color4{
    background-color: #0000ff;
}

.color5{
    background-color: #ddddc3;
}

.color6{
    background-color: #FF00FF;
}

.color7{
    background-color: #00008b;
}
.color8{
    background-color: #660066;
}

.color9{
    background-color: #2d5da1;
}

.color10{
    background-color: #849bcc;
}

.color11{
    background-color: #CCCAC9;
}

.color12{
    background-color: #f37b94;
}

.color13{
    background-color: #ff007f;
}

.color14{
    background-color: #FDFFF5;
}

.color15{
    background-color: #EED9C4;
}

.color16{
    background-color: #c67fae;
}

.color17{
    background-color: #120a8f;
}
