.contact-page-wrap {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 20px 0;
    }

    .content-wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
    }
}





.contact-item {
    width: 500px;
    border: 5px solid #CDCCCC;
    border-radius: 10px;
    box-shadow: 15px 15px 25px rgba(13, 39, 80, 0.3),
        -5px -5px 40px rgba(255, 255, 255), 
        inset 15px 15px 20px rgba(13, 39, 80, 0.2);
    padding: 25px;
}

.adress-item {
    width: 100%;
    border: 5px solid #CDCCCC;
    border-radius: 10px;
    box-shadow: 15px 15px 25px rgba(13, 39, 80, 0.3),
        -5px -5px 40px rgba(255, 255, 255), 
        inset 15px 15px 20px rgba(13, 39, 80, 0.2);

    padding: 25px;    

    h2 {
        margin-bottom: 20px;
    }
}

.map-wrap {
    font-size: 18px;
    justify-content: space-around;
    display: flex;
}

.map-item {
    text-align: center;
    p {
        margin-bottom: 10px;
    }
}