
.product-card-wrap {
    display: flex;
    flex-direction: column;
    width: 23rem;
    border: .2rem solid #b7b7b7;
    padding: 1.5rem;
    /*box-shadow: 3px 3px 20px #b0b0b0, inset 10px 10px 20px rgba(13, 39, 80, 0.25);*/
    box-shadow: 2px 2px 3px #b2b0b0, 3px 3px 10px #cccccc;
    border-radius: 1rem;
    margin: 5px 5px;

} 

.product-card-wrap .title {
    font-size: 2rem;
    color: #777;
    text-align: center;
    padding-bottom: 5px;
}

.product-card-wrap .image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}


.images-add {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;

    
}

/*.images-add .img-responsive {
        object-fit: cover;
        overflow: hidden;
}*/

.sticker {
    position: absolute;
    top: 1rem;
    left: -1rem;
    background-color: #EC005C;
    font-size: 1.6rem;
    color: #fff;
    width: 7rem;
    height: 2rem;
    border-radius: .7rem 0;
    text-align: center ;
    box-shadow: 2px 2px 8px #000000c6;
}
  
.product-card-wrap .cart-icon, .product-card-wrap .fav-icon{
    display: none;
}

.product-card-wrap:hover .cart-icon {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    right: 1rem;
    top: .5rem;
    position: absolute;
    animation: elemScale 0.4s;
    border: 0;
    background-color: #00000000;
    background-size: contain;
}

.product-card-wrap:hover .fav-icon {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    right: 1rem;
    top: 4.5rem;
    position: absolute;
    animation: elemScale 0.4s;
    border: 0;
    background-color: #00000000;
    background-size: contain;
}

.rating {
    display: none;
}

.product-card-wrap:hover .rating {
    display: flex;
    left: 5px;
    bottom: 5px;
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 6px #000;
    animation: elemScale 0.4s;
    font-size: 1.6rem;
}
.rating .star {
        width: 9rem;
        height: 1.7rem;
        background-image: url('../../../public/product_Card/Star.svg');
        background-size: contain;
        margin-right: 5px;

}


@keyframes elemScale {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}

.caption {
    font-family: Cuprum;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.price_block {
    color:#ddd;
    margin: 1rem;
    font-size: 1.4rem;
    background-color: #777;
    border-radius: .5rem;
    padding: .2rem .5rem;
    text-align: center;
}

.desc {
    text-align: start;
    height: 7rem;
    overflow: hidden;
    font-size: 1.4rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.price {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.lock {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    background-image: url('../../../public/product_Card/lock.svg');
    background-size: contain;
}

.more_btn {
    background-color: #3c948d;
    color:#ddd;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border: 0;
    border-radius: 5px;
}
