.catalog-wrap {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}

.category-select-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    /*margin-top: -.8rem;*/
}
.category-select-wrapper input{
    display: none;
}

.category-select-wrapper label {
        width: 23rem;
        font-family: Cuprum;
        font-size: 1.4rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        border: 1px solid #979797;
        /*border-top: 0;*/
}

/*выбор категорий*/
.category-select-wrapper label:has(input[type='radio']:checked) {
        background: -webkit-linear-gradient(top, #4ab7ae 0%, #3c948d 100%);
        box-shadow:  4px 4px 10px #000000d5;
}

.catalog-content-wrap {
    width: 100%;
    min-width: 101rem;
}

.catalog-product-wrap {
    max-height: 70vh;
    overflow-y: scroll;
    display:inline-flex;
    padding: 0 5px ;
    flex-wrap: wrap;
}

  