.main-content-wrap {
    position: relative;
    height: 57rem;
    border-radius: 1rem;
    background-image: linear-gradient(270deg,rgb(255, 255, 255, 0), rgba(0, 0, 0, 0.9)), url('../../../../public/fon.webp');
    background-size: cover;
    box-shadow: inset 0 0 .35rem  rgba(0, 0, 0, 0.9);
}
.main-content-wrap .dark {
        position: absolute;
        width: 101.01%;
        aspect-ratio: 9/1;
        /*height: 14rem;*/
        bottom: -1px;
        background: var(--background);
        clip-path: polygon(0 0, 50% 90%, 100% 0%, 100% 100%, 0 100%);
        border: 3px solid #e2e2e2;
}

.main-content-wrap    img {
    object-fit: cover;
    }

.main-content-wrap .text {
    position: absolute;
    width: 28.5rem;
    top: 6rem;
    left: 4rem; 
    }

.main-content-wrap  h1,h2 {
        color: #46AAA2;
        font-size: 4.2rem;
        margin: 10px 0;
    }

.main-content-wrap .text p {
        color: #fff;
        font-size: 1.6rem;
    }

.main-content-wrap .arrow-wrap {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translate(-40%, 0);
        display: flex;
        flex-direction: column;
    }

.main-content-wrap .content-arrow {
        margin: -0.6rem 0;
    }

.to-catalog {
    position: absolute;
    right: 20rem;
    top: 30rem;
    width: 20rem;
    height: 4.2rem;
    background: -webkit-linear-gradient(top, #4AB7AE 0%, #3C948D 100%);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 10px #000000a0;
}    



@media screen and (max-width: 1024px) {

}
  
@media screen and (max-width: 767px) {
	
}
  
@media screen and (max-width: 500px) {
	
}