.best-seller-wrap {
    position: relative;
    /*background: url(../../../../public/main/best-back.png) no-repeat;*/
    background-size: contain;
    overflow: hidden;
    /*height: 75rem;*/
    /*width: 90%;*/
    border: 4px solid #B5B5B5;
    border-radius: 1.5rem;
    box-shadow: inset 14px 14px 20px #0d27503c, -10px -10px 30px #fff, 28px 28px 50px #0d275051 ;
}


.best-seller-wrap .background {
    position: absolute;
    top:0;
    left:0;
    width: 103%;
    height: 100%;
    margin-top: 4rem;
    
}

.best-seller-title {
    position: absolute;
    top:0rem;
    left:12rem;
    width: 22rem;
    height: 9rem;
    background: url('./title.png') no-repeat;
    background-size: 110%;
    background-position: center;
}

.best-seller-content {
    /*width: 100%;*/
    /*height: 46rem;*/
    margin: 7rem 0 3rem 0rem;
} 

.carousel-root {
    overflow: hidden;
}