.poster {
    margin-top: 3rem;
    width: 100%;
}

.poster-item {
    align-content: center;
}

.poster-item a {
    position: relative;
    display: block;
    width: 95rem;
    height: 12rem;
    margin: 0 auto;
}